.page {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: fit-content;
  flex-direction: column;
  background-color: gainsboro;
  padding: 50px;
}